# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.AnimationBakeryDev.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\git\civitates\projects\AnimationBakeryDev\.idea\.idea.AnimationBakeryDev\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
